In [2]:
#Write a Python program to display “Hello, Python!”.
print("Hello, Python!")

Hello, Python!

In [5]:
#Create three variables a, b, and c to store integer, float, and string values. Print their data types.
a = 70
b = 77.7
c = "love"
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'str'>

In [8]:
#Input two numbers from the user and print their sum, difference, and product.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("sum:", num1 + num2)
print(" diffrence:", num1 - num2)
print("product:", num1 * num2)

Enter first number: 55
Enter second number: 22
sum: 77.0
 diffrence: 33.0
product: 1210.0

In [10]:
#Given x = 10, y = 3, print the result of x // y, x % y, and x ** y.
x = 10
y = 3
print(x // y, x % y, x ** y) # floor division, modulus, and exponentiation.​

3 1 1000

In [12]:
#Create a list of 5 numbers and print the first and last element.
list = [1,2,3,4,5]
print(list[0],list[-1])

1 5

In [14]:
#Create a tuple of 4 colors and access the second color.
colors = ("red", "green", "blue", "pink")
print(colors[1])

green

In [15]:
#Create a set of numbers {1,2,3,3,4,5} and print the unique elements.
set = {1,2,3,3,4,5,5}
print(set)

{1, 2, 3, 4, 5}

In [16]:
#Create a dictionary with keys = name, age, city and print the value of the key city.
person = {"name": "Rutba", "age": 30, "city": "Gurugram"}
print(person["city"])

Gurugram

In [18]:
#Write a program to check if a number entered by the user is even or odd.
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

Enter a number: 88
88 is even

In [22]:
#From a list [10, 20, 5, 25, 30], print the largest number using if-else statements.
num = [10, 20, 5, 25, 30]
largest = num[0]
for i in num:
    if i > largest:
        largest = i
print("The largest number is", largest)

The largest number is 30

In [20]:
#Write a program using a for loop to print numbers from 1 to 10.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
#Use a while loop to calculate the sum of all numbers from 1 to 100.
sum = 0
i = 1
while i <= 100:
    sum += i
    i += 1
print("Sum:", sum)

Sum: 5050

In [26]:
#13. Given a list [3, 7, 2, 8, 5], print only the even numbers using a loop.
numbers = [3, 7, 2, 8, 5]
for num in numbers:  #num is a variable name you create on the spot.
    if num % 2 == 0:
        print(num)

2
8

In [31]:
#14. Write a function add_numbers(a, b) that returns their sum.
def add_numbers(a, b):
    return a + b
print(add_numbers(5, 3))

8

In [32]:
#Use the built-in function len() to count how many items are in a list fruits = ['apple','banana', 'cherry']
fruits = ['apple','banana', 'cherry']
print(len(fruits))

3

In [36]:
#Write a user-defined function that takes a list and returns the maximum and minimum values.
def max_min(lst):
    return max(lst), min(lst)
numbers = [3, 7, 2, 8, 5]
print(max_min(numbers))

(8, 2)

In [39]:
# Write a program to check whether a string is a palindrome or not using a function.
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    for i in range(len(s) // 2):
        if s[i] != s[-(i + 1)]:
            return False
    return True

text = input("Enter string: ")
if is_palindrome(text):
    print("Palindrome")
else:
    print("Not palindrome")

Enter string: text
Not palindrome

In [1]:
#Use a lambda function to find the square of a number.
square = lambda n: n ** 2
print(square(5))

25

In [2]:
#Create a lambda function to return the maximum of two numbers.
max_num = lambda a, b: a if a > b else b
print(max_num(10, 15))

15

In [3]:
#20. Use the map() function to square all numbers in a list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
squared = list(map(lambda x: x**2, numbers))
print(squared)

[1, 4, 9, 16, 25]

In [4]:
#Use the filter() function to keep only even numbers from [1, 2, 3, 4, 5, 6].
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

[2, 4, 6]

In [5]:
#Use the reduce() function (from functools) to calculate the product of all numbers in [2, 3,4, 5].
from functools import reduce
numbers = [2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)

120

In [6]:
#Write a function that accepts a dictionary of student names and marks, and returns the name of the student with the highest marks.
def top_student(marks_dict):
    return max(marks_dict, key=marks_dict.get)
students = {"Alice": 85, "Bob": 92, "Charlie": 78}
print(top_student(students))

Bob

In [7]:
#Create a list of tuples containing student names and marks. Sort it by marks using a lambda function.
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78)]
students.sort(key=lambda x: x[1])
print(students)

[('Charlie', 78), ('Alice', 85), ('Bob', 92)]

In [8]:
#25. Write a Python program that combines all the above:
#● Takes a list of numbers
#● Filters only even numbers
#● Squares them using map()
#● Finds the total using reduce()

from functools import reduce
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
squared = list(map(lambda x: x**2, evens))
total = reduce(lambda x, y: x + y, squared)
print(total)

56