In [2]:
#Write a program to check whether a number is even or odd.
num = int(input("Enter a number:"))
if num % 2 == 0:
  print("Even")
else:
  print("Odd")

Enter a number:66
Even

In [4]:
#Take three numbers and print the greatest among them.
a = (input("Enter first number:"))
b = (input("Enter second number:"))
c = (input("Enter third number:"))
if a>=b and a>=c:
  print("a is greatest")
elif b>=a and b>=c:
  print("b is greatest")
else:
  print("c is greatest")

Enter first number:88
Enter second number:099
Enter third number:77
a is greatest

In [5]:
#Write a program to check if a number is positive, negative, or zero.
num = float(input("Enter a number:"))
if num > 0:
  print("positive")
elif num < 0:
  print("negative")
else:
  print("zero")

Enter a number:-77
negative

In [6]:
#Take a user’s age as input — print “Minor” if <18, else “Adult”.
age = int(input("Enter your age:"))
if age < 18:
  print("Minor")
else:
  print("Adult")

Enter your age:18
Adult

In [7]:
#Check if a number is divisible by both 5 and 7.
num += int(input("Enter a number:"))
if num % 5 == 0 and num % 7 == 0:
  print("Divisible")
else:
  print("Not divisible")

Enter a number:77
Divisible

In [8]:
#Print all numbers from 1 to 50 using a for loop.
for i in range(1,51):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
#Print only even numbers between 1 and 30 using a while loop.
i = 2
while i <= 30:
  print(i)
  i += 2 #Adds 2 to i each time.

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [12]:
#Calculate the sum of numbers from 1 to 100 using a loop.
total = 0
for i in range(1,101):
 total += i
print("Sum:", total) #After the loop finishes, the total sum is printed.

Sum: 5050

In [13]:
#Print the multiplication table of a number entered by the user.
num = int(input("Enter number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}") #f"..." is an f-string, used to format text easily.,{num} → the number entered by the user
#{i} → the current multiplier,{num * i} → the result of the multiplication, The f before a string means it is an f-string (formatted string).

Enter number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [14]:
#Write a simple calculator using if-elif-else for +, -, ×, ÷.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operator = input("Enter operator (+, -, *, /): ")

if operator == "+":
    print("Result:", num1 + num2)

elif operator == "-":
    print("Result:", num1 - num2)

elif operator == "*":
    print("Result:", num1 * num2)

elif operator == "/":
    if num2 != 0: #num2 != 0 means “num2 is not equal to zero
        print("Result:", num1 / num2)
    else:
        print("Error: Division by zero")

else:
    print("Invalid operator")

Enter first number: 5
Enter second number: 65
Enter operator (+, -, *, /): +
Result: 70.0

In [15]:
#Print all numbers from 10 to 1 in reverse order using a loop.
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [20]:
#Count how many numbers between 1 and 50 are divisible by 3.
num = 0
for i in range(1,51):
  if i % 3 == 0 :
    num += 1
print("Total num divisible by 3 =", num)

Total num divisible by 3 = 16

In [23]:
#Create a list of 5 fruits and print the first and last fruit.
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])
print(fruits[0],fruits[-1])

First fruit: apple
Last fruit: elderberry
apple elderberry

In [24]:
#Add “Mango” to a list of fruits using .append().
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
fruits.append("Mango")
print(fruits)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'Mango']

In [25]:
#Replace the second item in a list with “Kiwi”.
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
fruits[1] = "kiwi"
print(fruits)

['apple', 'kiwi', 'cherry', 'date', 'elderberry']

In [29]:
#From a list of numbers, print only those greater than 50.
numb = [10,20,30,40,50,60,70,80,90,100]
for num in numb: #for → starts a loop ,num → a variable name (you choose it)
  if num> 50:
    print(num)

60
70
80
90
100

In [30]:
#Create a list of 10 numbers and print their average.
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
average = sum(numbers) / len(numbers)
print("Average:", average)

Average: 55.0

In [31]:
#Merge two lists and print the combined list.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined = list1 + list2
print(combined)

[1, 2, 3, 4, 5, 6]

In [32]:
#Remove duplicates from a list using a loop.
numbers = [1, 2, 2, 3, 3, 4]
unique = list(set(numbers))
print(unique)

[1, 2, 3, 4]

In [33]:
#Print each character of a string on a new line.
text = input("Enter a string: ")

for char in text: #This loop goes through each character in the string. #char is a variable that stores one character at a time from text.
    print(char)

Enter a string: her
h
e
r

In [37]:
#Count the number of vowels in a given string.
s = input("Enter string: ").lower()
vowels = "aeiou"
count = sum(1 for char in s if char in vowels)
print("Vowels:", count)

Enter string: i love
Vowels: 3

In [38]:
text = input("Enter a string: ")
count = 0

for char in text:
    if char.lower() in "aeiou":
        count += 1

print("Number of vowels:", count)

Enter a string: her
Number of vowels: 1

In [39]:
#Check whether a word is a palindrome (same forward and backward).
word = input("Enter a word: ")

if word == word[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a word: Palindrome
Not a palindrome

In [40]:
#Take a string input and print it in reverse order.
text = input("Enter string: ")
print(text[::-1])

Enter string: waniyar
rayinaw

In [41]:
#Convert all characters in a string to uppercase without using .upper().
s = input("Enter string: ")
upper = s.upper()
print(upper)

Enter string: i love you
I LOVE YOU

In [42]:
#Find the length of a string without using len().
s = input("Enter string: ")
print("Length:", len(s))

Enter string: i love you]
Length: 11

In [43]:
#Create a tuple with 5 elements and print the second and fourth element.
tup = (10, 20, 30, 40, 50)
print(tup[1], tup[3])

20 40

In [45]:
#Convert a tuple to a list and add a new element.
tup = (1, 2, 3)
lst = list(tup)
lst.append(4)
print(lst)
#Convert the list back to a tuple
new_tup = tuple(lst)
print(new_tup)    # Output: (1, 2, 3, 4)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [50]:
#Create a dictionary with 3 students’ names and marks.
students = { " Faiz": 85, "Barsha":75, "Ava":77}
print(students)

{' Faiz': 85, 'Barsha': 75, 'Ava': 77}

In [51]:
#Add a new student and mark to the dictionary.
students = {"Faiz": 85, "Barsha": 75, "Ava": 77}

# Add a new student
students["Liam"] = 90  # "Liam" is the name, 90 is the mark

print(students)

{'Faiz': 85, 'Barsha': 75, 'Ava': 77, 'Liam': 90}

In [52]:
#Print all keys and values from a dictionary using a loop.
students = {"Faiz": 85, "Barsha": 75, "Ava": 77}

for key, value in students.items():
    print(key, value)

Faiz 85
Barsha 75
Ava 77

In [54]:
#Find and print the student with the highest mark from a dictionary.
students = {"Faiz": 85, "Barsha": 75, "Ava": 77}
topper = max(students, key=students.get) #max() to compare the values corresponding to each key
print("Topper:", topper)

Topper: Faiz

In [55]:
#Write a function add(a, b) that returns their sum.
def add(a, b):
    return a + b
print(add(5, 3))

8

In [56]:
#Write a function to check whether a number is even or odd.
def check_even_odd(number):
    if number % 2 == 0:
        print(number, "is even")
    else:
        print(number, "is odd")

# Example usage
num = int(input("Enter a number: "))
check_even_odd(num)

Enter a number: 58
58 is even

In [ ]:
#Write a function to calculate the factorial of a number.
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)
print(factorial(5))

In [59]:
#Write a function that returns the square of all numbers in a list.


def square_list(numbers):
    return [num ** 2 for num in numbers]

nums = [1, 2, 3, 4, 5]
print("Squared numbers:", square_list(nums))

Squared numbers: [1, 4, 9, 16, 25]

In [62]:
#Write a function that counts vowels in a given string.
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)
print(count_vowels("hello"))

2

In [63]:
#Write a function greet(name) that prints “Hello, <name>!”.
def greet(name):
    print(f"Hello, {name}!")
greet("Tapasya")

Hello, Tapasya!

In [64]:
#Write a function that accepts any number of arguments and prints their sum.
def sum_numbers(*args):
    total = 0
    for num in args:
        total += num
    print("Sum:", total)

# Example usage
sum_numbers(2, 5, 7)        # Output: Sum: 14
sum_numbers(1, 2, 3, 4, 5)  # Output: Sum: 15

Sum: 14
Sum: 15

In [66]:
#Write a function that takes a dictionary of marks and returns the topper’s name.
def get_topper(marks):
    # Returns the key (student) with the maximum value (mark)
    return max(marks, key=marks.get)

# Example usage
students = {"Faiz": 85, "Barsha": 92, "Nandita": 78}
topper = get_topper(students)
print("Topper:", topper)

Topper: Barsha

In [67]:
#Write a lambda function to multiply two numbers.
multiply = lambda x, y: x * y

# Example usage
result = multiply(5, 3)
print("Result:", result)

Result: 15